.playerone {
  float:left;
}
.playertwo {
  float:right;
}
#headertwo, #titletwo, #headerone, #titleone {
  text-align: center;
}
/* .playerzone {
  display: none;
} */
.buttons {
  text-align: center;
}
#roll2, #hold2 {
  display: none;
}
.container{
  color:purple;
}
body{
background-color: black;
font-family: sans-serif;
background-size: cover;
text-align: center;
background-size: 30px;
}
